.*
!/.gitignore
**.exe
marching-cubes-cuda-master/


/src/Debug
/src/Release
/src/x64/Debug
/src/x64/Release
/x64


*.user
*.pdb
*.log
*.tlog

# Dependency files
!/Dependencies
!/Dependencies/**

tmp
build
Debug
